.userfield {
    padding-left: 8px !important;
  }
  .username {
    font-size: 29px;
  }
  .add-btn {
    text-align: right;
    position: relative;
  }
  .scroll-table {
    margin-right: -70rem;
  }
  